<section id="gallery" class="section white-background">
    <div class="section-content portfolio">
      <div class="full-height ">
        <header class="section-header">
          <h2>{{title}}</h2>
          <p>Algumas fotos recentes.</p>
        </header>
  
        <div class="grid-section">
          <div class="gallery-images">
            <img src="https://source.unsplash.com/random/800x800" alt="Random Image" />
          </div>
          <div class="gallery-images">
            <img src="https://source.unsplash.com/random/900x900" alt="Random Image" />
          </div>
          <div class="gallery-images">
            <img src="https://source.unsplash.com/random/500x500" alt="Random Image" />
          </div>
          <div class="gallery-images">
            <img src="https://source.unsplash.com/random/801x801" alt="Random Image" />
          </div>
          <div class="gallery-images">
            <img src="https://source.unsplash.com/random/904x904" alt="Random Image" />
          </div>
          <div class="gallery-images">
            <img src="https://source.unsplash.com/random/509x509" alt="Random Image" />
          </div>
          <div class="gallery-images">
            <img src="https://source.unsplash.com/random/508x508" alt="Random Image" />
          </div>
          <div class="gallery-images">
            <img src="https://source.unsplash.com/random/507x507" alt="Random Image" />
          </div>
          <div class="gallery-images">
            <img src="https://source.unsplash.com/random/506x506" alt="Random Image" />
          </div>
          <div class="gallery-images">
            <img src="https://source.unsplash.com/random/505x505" alt="Random Image" />
          </div>
          <div class="gallery-images">
            <img src="https://source.unsplash.com/random/504x504" alt="Random Image" />
          </div>
          <div class="gallery-images">
            <img src="https://source.unsplash.com/random/503x503" alt="Random Image" />
          </div>
        </div>
      </div>
    </div>
</section>