<div id="intro" class="section white-background">
    <div class="section-content">
      <div class="text-container">
        <article>
          <h2>{{title}}</h2>
          <p>The release of Apple Silicon-based Macs at the end of last year generated a flurry of news coverage and
            some surprises at the machine’s performance. This post details some background information on the
            experience of porting Firefox to run natively on these CPUs.</p>
          <p>We’ll start with some background on the Mac transition and give an overview of Firefox internals that
            needed to know about the new architecture, before moving on to the concept of Universal Binaries.</p>
          <p>We’ll then explain how DRM/EME works on the new platform, talk about our experience with macOS Big Sur,
            and discuss various updater problems we had to deal with. We’ll conclude with the release and an
            overview
            of various other improvements that are in the pipeline.</p>
        </article>
      </div>
    </div>
  </div>
  
  <section id="top-3" class="section primary-background bg-svg-1">
  
    <div class="section-content portfolio">
      <div class="full-height ">
        <header class="section-header">
          <h2>TOP 3 jobs</h2>
          <p>Here are some recent work.</p>
        </header>
  
        <div class="grid-section">
  
          <article>
            <h3>First</h3>
            <p>This button would add a box to the row of key content boxes below the intro text. This should put the
              box there regardless of where the user is currently writing. </p>
          </article>
          <article>
            <h3>Another site</h3>
            <p>I'd suggest having a popup that asks where in the row to insert the box (at the beginning or end),
              what
              title to give the box, what text to put in the box, and where the box should link to. The entire box
              should serve as a link to the destination page.</p>
          </article>
          <article>
            <h3>Third one</h3>
            <p>You can also include a type attribute containing the MIME type of the resource, so a browser can
              quickly see what resources are on offer, and ignore ones that it doesn’t support</p>
          </article>
        </div>
      </div>
    </div>
  </section>